body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, lightblue, rgb(15, 164, 201));
}

body::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

#birb {
    background-color: red;
    width: 50px;
    height: 50px;
    transform: translate(200px, 200px);
}

.piller {
    position: absolute;
    height: 500px;
    width: 100px;
    background: linear-gradient(to right, lightgreen, green);
}

.cloud {
    background-image: url('https://pngimg.com/uploads/cloud/cloud_PNG24.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 400px;
    height: 100px;
}